/*body{
	background: url("") no-repeat center center fixed;
	background-color: pink;

}

h1{
	font-family: 'Libre Caslon Display', serif;
	font-size: 90px;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

.row{
	margin-bottom: 4vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.btn{
	font-family: 'Libre Caslon Display', serif;
	font-size: 16px;
	background-color: #f7fbfd;
	color: rgb(205, 123, 207);
	padding: 1vh 1vw;
}

.btn:hover{
	color: #750750;
}

.btn:focus{
	outline: 2px solid #750750 !important;
	background-color: #1680bc;
	color: #750750;
}

.flower-button{
	margin: .5vh 1vw;
}

.gif-image{
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.individual-gif-container{
	float: left;
	margin: 2vh 3vw 2vh 3vw;
}

#submit{
	margin-top: 1.5vh;
}

#different-flowers{
	margin-top: 1.5vh;
	width: 100%;
}

#different-flowers:focus{
	outline: 2px solid #efad07 !important;
}

#gif-container{
	font-size: 22px;
}
*/
*{
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url(https://images.unsplash.com/photo-1461559380858-2dd893d0b0d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover;
}


h1 {
    font-family: 'Antic', sans-serif;
    color:pink;
    text-shadow: 3px 3px black;
}


.container-fluid {
    margin: 25px;
    margin-left: 25px;

}



button {
    display: inline-block;
    font-size: 25px;
    margin: 5px;


}



#addtext {
    font-size: 30px;
    font-family: 'Boogaloo', cursive;
    color: pink;
    text-shadow: 2px 2px black;

}


.newItem {
    display: block;
    float: left;
    margin: 20px;

}


.row {
    margin-right: 35px;
}